registry=https://registry.npmjs.org/

# All packages under @pagestudiocms come from GitHub Packages
@pagestudiocms:registry=https://npm.pkg.github.com/

# Auth for GitHub Packages
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}